In [18]:
import pandas as pd
import numpy as np
from geopy import distance

In [65]:
sea_att = pd.read_excel('seattle_attractions.xlsx')

In [47]:
sea_att

      AveT(F)  Perci(inch)
Jan     41.45         5.24
Feb     43.80         4.09
Mar     46.85         3.92
Apr     50.90         2.75
May     56.55         2.03
Jun     61.10         1.55
Jul     65.45         0.93
Aug     66.00         1.16
Sept    61.25         1.61
Oct     53.35         3.24
Nov     45.95         5.67
Dec     41.30         6.06

In [11]:
l = pd.read_csv('../data/2018_04_14/listings.csv')

In [67]:
myl = l[['latitude','longitude']]

In [20]:
myl.iloc[0]

latitude      47.610819
longitude   -122.290816
Name: 0, dtype: float64

In [21]:
sea_att.iloc[0]

attraction    Pike_Place_Market
lat                     47.6097
Lon                    -122.342
Name: 0, dtype: object

In [66]:
(sea_att.apply(lambda x: distance.distance(x[1:],myl.iloc[0]).miles,axis=1)<2).sum()

2

In [70]:
def num_att(pos,attr):
    dis = attr.apply(lambda x: distance.distance(x[1:],pos).miles,axis=1)
    return (dis<1).sum()

In [68]:
myl = myl.iloc[0:100]

In [74]:
myl['num'] = myl.apply(lambda x: num_att(x,sea_att),axis=1)

In [77]:
myl['w']=0
myl['p']=0

In [82]:
myl.loc[myl['num']==1,['w','p']]=[2,3]

In [83]:
myl

     latitude   longitude  num  w  p
0   47.610819 -122.290816    0  0  0
1   47.687801 -122.313427    0  0  0
2   47.523980 -122.359891    0  0  0
3   47.654109 -122.337605    1  2  3
4   47.550620 -122.320135    0  0  0
5   47.608010 -122.328739    6  0  0
6   47.555389 -122.384739    0  0  0
7   47.556236 -122.385981    0  0  0
8   47.654787 -122.336520    1  2  3
9   47.565209 -122.373748    0  0  0
10  47.553646 -122.363257    0  0  0
11  47.695719 -122.311944    0  0  0
12  47.697201 -122.313481    0  0  0
13  47.654477 -122.336464    1  2  3
14  47.695737 -122.313163    0  0  0
15  47.687246 -122.334696    0  0  0
16  47.688266 -122.335856    0  0  0
17  47.684072 -122.326488    0  0  0
18  47.551618 -122.364431    0  0  0
19  47.555382 -122.386223    0  0  0
20  47.615611 -122.345927    9  0  0
21  47.613616 -122.347058   10  0  0
22  47.616430 -122.346344    9  0  0
23  47.695386 -122.313075    0  0  0
24  47.673339 -122.395120    1  2  3
25  47.673607 -122.393803    1  2  3
26  47.622366 -122.315918    0  0  0
27  47.534188 -122.281393    0  0  0
28  47.614196 -122.344458   10  0  0
29  47.615396 -122.348664    9  0  0
..        ...         ...  ... .. ..
70  47.640346 -122.342088    1  2  3
71  47.501407 -122.238245    0  0  0
72  47.627674 -122.358611    6  0  0
73  47.678605 -122.374046    0  0  0
74  47.672345 -122.398920    1  2  3
75  47.511457 -122.256081    0  0  0
76  47.635482 -122.358478    1  2  3
77  47.670190 -122.387564    1  2  3
78  47.666671 -122.332602    0  0  0
79  47.644131 -122.356299    0  0  0
80  47.545431 -122.397837    0  0  0
81  47.552842 -122.277894    0  0  0
82  47.582160 -122.393872    1  2  3
83  47.535701 -122.386312    0  0  0
84  47.639079 -122.325409    1  2  3
85  47.677705 -122.359839    1  2  3
86  47.680038 -122.283983    0  0  0
87  47.599081 -122.325591    5  0  0
88  47.621627 -122.316929    0  0  0
89  47.699898 -122.366142    0  0  0
90  47.561297 -122.281219    0  0  0
91  47.615339 -122.347905    9  0  0
92  47.682309 -122.378750    0  0  0
93  47.656925 -122.360935    1  2  3
94  47.675747 -122.357389    1  2  3
95  47.613860 -122.348787    9  0  0
96  47.677809 -122.358621    1  2  3
97  47.689661 -122.368394    0  0  0
98  47.661197 -122.401446    2  0  0
99  47.549691 -122.318679    0  0  0

[100 rows x 5 columns]