In [3]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.dates import MO, TU, WE, TH, FR, SA, SU

In [2]:
def clean_calendar(fl):
    """
    read a file in csv format, fl is filename
    drop NaN rows and 'available' column
    change price from $1,200 to 1200(float)
    change the type of date
    return a cleaned dataframe with listing_id, date and price
    """
    df = pd.read_csv(fl).dropna().drop(columns='available').reset_index(drop=True)
    df = df[['listing_id','date','price']] #only keep these three columns
    df['price'] =  df['price'].apply(lambda x: x.replace('$','').replace(',','')).astype('float')   
    df['date'] = pd.to_datetime(df['date'])
    return df

In [24]:
def merge_calendars(folders):
    """
    merge all calendars together; if listings have the same id and date, keep the highest price
    """
    df = clean_calendar('../data/'+folders[0]+'/calendar.csv')
    for f in folders[1:]:
        df = pd.concat([df,clean_calendar('../data/'+f+'/calendar.csv')],ignore_index=True)
    df = df.groupby(by=['listing_id','date'])['price'].max().reset_index()
    return df

In [28]:
if __name__=='__main__':
    folders = [x for x in os.listdir('../data/')]
    df = merge_calendars(folders)

In [30]:
df

         listing_id       date  price
0              2318 2018-04-22  375.0
1              2318 2018-04-23  375.0
2              2318 2018-04-24  375.0
3              2318 2018-04-25  375.0
4              2318 2018-04-26  375.0
5              2318 2018-04-27  375.0
6              2318 2018-04-28  375.0
7              2318 2018-04-29  375.0
8              2318 2018-04-30  375.0
9              2318 2018-05-01  375.0
10             2318 2018-05-02  375.0
11             2318 2018-05-03  375.0
12             2318 2018-05-04  375.0
13             2318 2018-05-05  375.0
14             2318 2018-05-06  375.0
15             2318 2018-05-07  375.0
16             2318 2018-05-08  375.0
17             2318 2018-05-09  375.0
18             2318 2018-05-10  375.0
19             2318 2018-05-11  375.0
20             2318 2018-05-12  375.0
21             2318 2018-05-13  375.0
22             2318 2018-05-14  375.0
23             2318 2018-05-15  375.0
24             2318 2018-05-16  375.0
25             2318 2018-05-17  375.0
26             2318 2018-05-24  375.0
27             2318 2018-05-25  375.0
28             2318 2018-05-26  375.0
29             2318 2018-06-05  475.0
...             ...        ...    ...
5045302    32243585 2020-01-10  267.0
5045303    32243585 2020-01-11  267.0
5045304    32243585 2020-01-12  267.0
5045305    32243585 2020-01-13  267.0
5045306    32243585 2020-01-14  267.0
5045307    32243585 2020-01-15  267.0
5045308    32243585 2020-01-16  267.0
5045309    32243585 2020-01-17  267.0
5045310    32243585 2020-01-18  267.0
5045311    32243585 2020-01-19  267.0
5045312    32243585 2020-01-20  267.0
5045313    32243585 2020-01-21  267.0
5045314    32243585 2020-01-22  267.0
5045315    32243585 2020-01-23  267.0
5045316    32243585 2020-01-24  267.0
5045317    32243585 2020-01-25  267.0
5045318    32243585 2020-01-26  267.0
5045319    32243585 2020-01-27  267.0
5045320    32243585 2020-01-28  267.0
5045321    32243585 2020-01-29  267.0
5045322    32243585 2020-01-30  267.0
5045323    32243585 2020-01-31  267.0
5045324    32243585 2020-02-01  267.0
5045325    32243585 2020-02-02  267.0
5045326    32243585 2020-02-03  267.0
5045327    32243585 2020-02-04  267.0
5045328    32243585 2020-02-05  267.0
5045329    32243585 2020-02-06  267.0
5045330    32243585 2020-02-07  267.0
5045331    32243585 2020-02-08  267.0

[5045332 rows x 3 columns]

In [34]:
clean_calendar('../data/2019_02_09/calendar.csv')

         listing_id       date  price
0            493591 2019-02-09   53.0
1            493591 2019-02-10   53.0
2            493591 2019-02-11   53.0
3            493591 2019-02-12   53.0
4            493591 2019-02-13   53.0
5            493591 2019-02-14   53.0
6            493591 2019-02-15   53.0
7            493591 2019-02-16   53.0
8            493591 2019-02-17   53.0
9            493591 2019-02-18   53.0
10           493591 2019-02-19   53.0
11           202174 2019-02-09  159.0
12           202174 2019-02-10  159.0
13           202174 2019-02-11  159.0
14           202174 2019-02-12  159.0
15           202174 2019-02-13  159.0
16           202174 2019-02-14  159.0
17           202174 2019-02-15  159.0
18           202174 2019-02-16  159.0
19           202174 2019-02-17  159.0
20           202174 2019-02-18  159.0
21           202174 2019-02-19  159.0
22           202174 2019-02-20  159.0
23           202174 2019-02-21  159.0
24           202174 2019-02-22  159.0
25           202174 2019-02-23  159.0
26           202174 2019-02-24  159.0
27           202174 2019-02-25  159.0
28           202174 2019-02-26  159.0
29           202174 2019-02-27  159.0
...             ...        ...    ...
3087505    32045095 2020-01-10  135.0
3087506    32045095 2020-01-11  135.0
3087507    32045095 2020-01-12  135.0
3087508    32045095 2020-01-13  135.0
3087509    32045095 2020-01-14  135.0
3087510    32045095 2020-01-15  135.0
3087511    32045095 2020-01-16  135.0
3087512    32045095 2020-01-17  135.0
3087513    32045095 2020-01-18  135.0
3087514    32045095 2020-01-19  135.0
3087515    32045095 2020-01-20  135.0
3087516    32045095 2020-01-21  135.0
3087517    32045095 2020-01-22  135.0
3087518    32045095 2020-01-23  135.0
3087519    32045095 2020-01-24  135.0
3087520    32045095 2020-01-25  135.0
3087521    32045095 2020-01-26  135.0
3087522    32045095 2020-01-27  135.0
3087523    32045095 2020-01-28  135.0
3087524    32045095 2020-01-29  135.0
3087525    32045095 2020-01-30  135.0
3087526    32045095 2020-01-31  135.0
3087527    32045095 2020-02-01  150.0
3087528    32045095 2020-02-02  150.0
3087529    32045095 2020-02-03  150.0
3087530    32045095 2020-02-04  150.0
3087531    32045095 2020-02-05  150.0
3087532    32045095 2020-02-06  150.0
3087533    32045095 2020-02-07  150.0
3087534    32045095 2020-02-08  150.0

[3087535 rows x 3 columns]